<%- include("header") -%>
<h1>About Page</h1>
<p>Marvel Comics is an American comic book publisher and the flagship property 
    of Marvel Entertainment, a division of The Walt Disney Company since September 1, 2009
    Marvel counts among its characters such well-known superheroes as Spider-Man, Iron Man, Captain America, Thor, Doctor Strange, Hulk, Daredevil, Wolverine, and Captain Marvel, as well as popular superhero teams such as the Avengers, X-Men, Fantastic Four, and Guardians of the Galaxy. Its stable of well-known supervillains includes the likes of Doctor Doom, Magneto, Ultron, Thanos, Kang the Conqueror, Green Goblin, Galactus, Loki, and Kingpin.
</p>

<%- include("footer") -%>